<html>
    <head>
    </head>
    <body>
        <h1>Autora: Sylwia Kazmierczyk</h1>
        <img src = "../como-quitarle-las-pulgas-a-mi-perro.jpg">
        <a href= "/">Inicio</a>
    </body>
</html>