<!DOCTYPE html>
<html>
<head>
    <title>Mis quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Lista de quizzes</h1>
<a href="/">Inicio</a>
<a href="/credits"> Creditos</a>
<ul>
    <% for (let i in quizzes) { %>
    <% const quiz = quizzes[i]; %>
    <li>
        <%= quiz.question %> : <%= quiz.answer %>
    </li>
    <% } %>
</ul>
</body>
</html>